@{
    ViewBag.Title = "Course Registration";
}

<div ng-app="app">
    <div ng-controller="Home as vm">
        @*<h3>@ViewBag.Message</h3>
        {{vm.total}}*@
        <div class="row" style="justify-content: center">
            <div class="login-box1 col-sm-6" style="height:450px;width: 500px;">
                <ul class="small">
                    <li>
                        <h4><span class="text-danger"><b><a target="_blank" href="/NotesOnCourseSelection/CourseInQuiry">課程查詢</a></b></span></h4>
                    </li>
                    <li><h4><b><a target="_blank" href="/NotesOnCourseSelection/CourseTimeQuiry">各年級初選時間請見</a></b></h4></li>
                    <li><h4>研究所一、二年級最低應修一門課程，其他選課上下限學分數依各研究所之規定，相關問題請洽各系所辦公室。</h4></li>
                </ul>
            </div>
            <div class="login-box2 col-sm-6" style="height:450px;width: 500px;">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">學生系統</h1>
                    </div>
                    <form class="user">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user"  ng-model="vm.sIDNo" autocapitalize="off" autocorrect="off" placeholder="學號">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="密碼" ng-model="vm.password">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="customCheck" ng-model="vm.rememberMe" value="true">
                                <label class="custom-control-label" for="customCheck">
                                   記住我
                                </label>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-primary btn-user btn-block" ng-click="vm.singIn()" >
                            登入
                        </a>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="javascript:void(0);" ng-click="vm.forgot()">忘記密碼?</a>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</div>


<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-animate.min.js"></script>
<script src="~/Scripts/angular-sanitize.min.js"></script>



<style>
    .login-box1 {
        box-shadow: 0 0 0 1px #fff;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        padding: 15px;
        width: 320px;
        background-color: #dbdbdb;
    }

    .login-box2 {
        box-shadow: 0 0 0 1px #fff;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        padding: 15px;
        width: 320px;
        background-color: #ffffff;
    }

    .float-right {
        float: right !important;
    }

    .row {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    body {
        background-color: #f4f4f4 !important;
    }

    form.user .form-control-user {
        font-size: .8rem;
        border-radius: 10rem;
        padding: 1.5rem 1rem;
    }
    .custom-control-label::after {
        position: absolute;
        top: .25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
        background: no-repeat 50%/50% 50%;
    }

    input, select, textarea {
        max-width: 100% !important;
    }

</style>

<script type="text/javascript">
    (function () {
        var appModule = angular.module('app', []);
        appModule.controller('Home', ['$scope', '$http', 'rememberMeModel', function ($scope, $http, rememberMeModel) {
            var vm = this;
            //vm.total = 0;
            vm.rememberMe = true;
            vm.rememberMeView = null;
            

            if (rememberMeModel != null) {
                vm.rememberMeView = rememberMeModel;
                vm.sIDNo = vm.rememberMeView.LogonId;
                vm.password = vm.rememberMeView.PasswordHash;
            }

            //判斷登入
            vm.singIn = function () {
                if (vm.sIDNo == null || vm.sIDNo == "" || vm.password == null || vm.password == "") {
                    swal('請確認帳號密碼是否有輸入!!!', '', 'error');
                    vm.sIDNo = ''
                    vm.password = ''
                    console.log(vm.rememberMe);
                }
                else {
                    $http({

                        method: 'POST',
                        url: "/Home/AccountLogin",
                        data: { sIDNo: vm.sIDNo, password: vm.password, rememberMe: vm.rememberMe },
                        dataType: 'json',

                    }).then(function Callback(response) {

                        if (response.data.error == false) {
                            sweetAlert(response.data.message, '', 'error');
                        }
                        else {

                            window.location.href = response.data.url;
                            location.reload();
                        }
                        vm.sIDNo = ''
                        vm.password = ''
                    });
                }


            };

            vm.forgot = function () {

                swal({
                    title: '請輸入身份證字號',
                    input: 'text'
                }).then(function (IDNo) {
                    $http({

                        method: 'POST',
                        url: "/Home/ConfirmIdentity",
                        data: { iDNo: IDNo },
                        dataType: 'json',

                    }).then(function Callback(response) {

                        if (response.data.error == false) {
                            sweetAlert(response.data.message, '', 'error');
                        }
                        else {
                            vm.logonId = ""
                            vm.logonId = response.data.logonId

                            swal({
                                title: 'email傳送驗證碼',
                                text: '驗證碼通過後即可更新密碼,如有問題請洽詢(0x)1111111',
                                input: 'email',
                                showCancelButton: true,
                                confirmButtonText: 'Submit',
                                showLoaderOnConfirm: true,
                                preConfirm: function (email) {
                                    return new Promise(function (resolve, reject) {
                                        setTimeout(function () {
                                            resolve();

                                        }, 2000);
                                    });
                                },
                                allowOutsideClick: false
                            }).then(function (email) {

                                $http({

                                    method: 'POST',
                                    url: "/Home/SendEmail",
                                    data: { receiver: email },
                                    dataType: 'json',

                                }).then(function Callback(response) {

                                    if (response.data.error == false) {
                                        sweetAlert(response.data.message, '', 'error');
                                    }
                                    else {

                                        swal({
                                            title: '請輸入email驗證碼',
                                            text: '如有問題請洽詢(0x)1111111',
                                            input: 'text',
                                        }).then(
                                            function (res) {
                                                if (res != response.data.num) {
                                                    sweetAlert('驗證碼輸入錯誤,請重新輸入', '', 'error');
                                                }
                                                else {
                                                    swal({
                                                        title: '請填入新密碼',
                                                        text: '您的帳號為' + vm.logonId + ',如有問題請洽詢(0x)1111111',
                                                        input: 'text',
                                                    }).then(
                                                        function (resp) {
                                                            if (resp == null || resp == "") {
                                                                sweetAlert('密碼為空,請重新輸入', '', 'error');
                                                            }
                                                            else {
                                                                var getUrl = '/Home/GetNewPassword?logonId=' + vm.logonId + '&password=' + resp
                                                                
                                                                swal({
                                                                    type: 'success',
                                                                    title: '密碼已更新!',
                                                                    showConfirmButton: false,
                                                                })
                                                                window.location = getUrl;
                                                            }

                                                        }
                                                    )
                                                }

                                            })
                                    }
                                });


                            })

                        }
                    });
                })

                
            }
            

        }]);

    })();
</script>

@section Scripts{
    <!--參考: https://dotblogs.com.tw/wasichris/2015/05/09/151234 -->
    <script>
        //將model轉換成json
        var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model));
        //建立viewModel Value Provider供後續注入前端AngularJS controller中使用
        angular.module('app').value('rememberMeModel', model);
    </script>
}
