@{
    ViewBag.Title = "News";

    var account = "";
    if (Session["sIDNo"] == null || string.IsNullOrWhiteSpace(Session["sIDNo"].ToString()))
    {
        Response.Redirect("../Home/Index");
    }
    else
    {
        account = Session["sIDNo"].ToString();
    }

    //沒使用_ViewStart就要自訂Layout位置
    //Layout = "~/Views/Shared/_UserInfoLayout.cshtml";

}


<style>
    .alph-list__title {
        font-size: 2.375em;
        font-weight: 300;
        position: relative;
        color: #333;
        padding: 0 0 0.15789474em;
    }

        .alph-list__title::before {
            position: absolute;
            z-index: 3;
            bottom: 0;
            left: 0;
            width: 1.875rem;
            height: 3px;
            content: "";
            background: #A02337;
        }

    .alph-list__alph {
        font-size: 2.63157895em;
        font-weight: 400;
        line-height: 1;
        text-indent: -0.05263158em;
    }

    .alph-list__title::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        content: "";
        background: #D5D5D5;
    }

</style>

<br />
<div class="form-horizontal" ng-app="app">
    <div ng-controller="News as vm">
        <p class="alph-list__title"><span class="alph-list__alph"></span>@ViewBag.Subject</p>
        <br />
        @Html.Raw(ViewBag.HomeContents)

    </div>
</div>


<script type="text/javascript">

    var appModule = angular.module('app', []);
    appModule.controller('News', ['$scope', '$http', function ($scope, $http) {
        var vm = this;

    }]);
</script>