@{
    ViewBag.Title = "News";

    var account = "";
    if (Session["sIDNo"] == null || string.IsNullOrWhiteSpace(Session["sIDNo"].ToString()))
    {
        Response.Redirect("../Home/Index");
    }
    else
    {
        account = Session["sIDNo"].ToString();
    }

    //沒使用_ViewStart就要自訂Layout位置
    //Layout = "~/Views/Shared/_UserInfoLayout.cshtml";

}


<br />
<div class="form-horizontal" ng-app="app">
    <div ng-controller="News as vm">
        <h4>@ViewBag.Subject</h4>
        <hr />
        @Html.Raw(ViewBag.HomeContents)

    </div>
</div>


<script type="text/javascript">

    var appModule = angular.module('app', []);
    appModule.controller('News', ['$scope', '$http', function ($scope, $http) {
        var vm = this;

    }]);
</script>