@{
    ViewBag.Title = "News";

    var account = "";
    if (Session["sIDNo"] == null || string.IsNullOrWhiteSpace(Session["sIDNo"].ToString()))
    {
        Response.Redirect("../Home/Index");
    }
    else
    {
        account = Session["sIDNo"].ToString();
    }

    //沒使用_ViewStart就要自訂Layout位置
    //Layout = "~/Views/Shared/_UserInfoLayout.cshtml";

}


<br />
<div class="form-horizontal" ng-app="app">
    <div ng-controller="News as vm">
        <h4>Basic Information</h4>
        <hr />
        依本校學則規定，各階段之選課結束後，立即將「衝堂之科目概予註銷」， 並公告於註冊課務組首頁與簡訊通知，請同學留意，勿選課衝堂。 重複修讀已取得學分之科目，其學分數不予承認。
        大四生下學期下修一至三年級、通識與語文等課程需上滿十八週，方可畢業。
        研究所一、二年級最低應修一門課程，其他選課上下限學分數依各研究所之規定，相關問題請洽各系所辦公室。
        延修生、進修學士班、EMBA學分費收費以實際選課時數計算，其後因故辨理棄選者仍要繳費，請審慎選課。
        101學年度(含)以前入學者適用：一般延修生(含日間部及碩士班一般生)選課9學分(含)以下者，以學分時數收費；選課在10學分(含)以上者，以本系所全額學雜費收取。
        102學年度(含)以後入學者適用：一般延修生(含日間部及碩士班一般生)選課以學分時數收費；每人每學期收取雜費4,500元。
        變更密碼請至學生系統- http://stweb.cjcu.edu.tw
        確保資料正確，請勿同時在同一電腦上開啟多畫面多人選課。
        上網選課請遵守本校各選課規定，並參閱相關注意事項內容辦理。

    </div>
</div>


<script type="text/javascript">

    var appModule = angular.module('app', []);
    appModule.controller('News', ['$scope', '$http', function ($scope, $http) {
        var vm = this;

    }]);
</script>